body {
margin: 0;
padding: 0;
box-sizing: border-box;
width: 100%;


}
.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(145deg, rgba(250, 250, 250, 0.87) 35%, 
                                        rgba(103, 103, 104, 0.842) 60%, 
                                        rgba(0, 0, 0, 0.705) 90%), rgba(134, 134, 134, 0.856) 70%;
                                        
}

.glass{
    border-radius: 50%;
    width: 35vw;
    height: 35vw;   
    background: rgb(218,237,237);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: linear-gradient(145deg, rgb(231, 250, 250) 15%, 
                                        rgb(193, 229, 230) 30%,
                                        rgb(20, 172, 161) 50%, 
                                        rgb(18, 112, 109) 70%);
    display: flex;   
    align-items: center;
    justify-content: center;     
    border: solid rgba(0, 0, 0, 0.637) 1px       

}


.underGlassBackground{
    border-radius: 50%;
    width: 37vw;
    height: 37vw; 
    display: flex;
    position: absolute; 
    
}

.underGlassBackground img {
    opacity: 60%;
    filter: blur(0.3px);
    
}



.clockMiddle {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    background: linear-gradient(156deg, rgba(252,252,251,1) 0%, rgba(255,179,0,1) 39%, rgba(224,141,67,1) 67%, rgb(182, 93, 5) 86%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: rgb(66, 66, 66) solid 0.3px;
    opacity: 50%;
    
}


